html, body {
    background-color: #d0d4f2;
}

h1 {
    color: #3e50da;
}

hr {
    width: 85%;
    border-color: #e69797;
}

a {
    color: #3e50da;
}

a:hover {
    color: #da3e3e;
}

.content {
    border-color: #6878f2;
    border-style: solid;
    background-color: #e3e5f7;
    max-width: 75%;
    margin: 30px;
    padding: 25px;
}

.happening {
    margin-top: 10px;
    border-color: #f26868;
    border-style: solid;
    background-color: #f7e3e3;
    max-width: 75%;
    padding: 10px;
}

.happening:hover {
    background-color: #f7eee4;
}